.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: #F5F5F5;
}

.container {
  max-width: 800px;
  align-items: center;
}

ul.side-menu {
  list-style: none;
  display: flex;
  align-items: center
}

ul.side-menu>li {
  margin-right: 60px;
  /* cursor: pointer; */
}

/* ul.side-menu>li>input[type=button] {
  background-color: orangered;
  margin-left: 10px;
  cursor: pointer;
} */

.search-height {
  height: 30px;
}

.search-btn {
  background-color: rgb(230, 122, 34);
  margin-left: 10px;
  cursor: pointer;
}

.search-btn-line {
  background-color: rgb(70, 201, 168);
  margin-left: 10px;
  cursor: pointer;
}

.clear-btn {
  background-color: rgb(238, 35, 35);
  margin-left: 10px;
  cursor: pointer;
}

.clear-btn-line {
  background-color: rgb(243, 243, 243);
  margin-left: 10px;
  cursor: pointer;
}

input[type=text] {
  margin-left: 10px;
}

.brand {
  display: flex;
  align-items: center;
}

.brand>img {
  height: 50px;
  margin-right: 20px;
}

.brand>small {
  margin-left: 30px;
}

.restaurant-list {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.shimmer-restaurant-card {
  display: flex;
  width: 220px;
  min-height: 350px;
  margin: 10px
}

.shimmer {
  margin: 0 !important;
  height: auto;
  width: auto;
}

.restaurant-card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px
}

.restaurant-card>img {
  width: 100%;
}